Repository pixelass/pforte: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn dlx eslint --fix, yarn dlx prettier --write

refactor: better types and comments
  packages/client/src/index.ts
  packages/constants/src/index.ts
  packages/core/src/index.ts
  packages/provider-github/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

refactor: better types and comments
  packages/adapter-mongoose/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

refactor: better types and comments
  packages/adapter-mongoose/src/index.ts
  packages/core/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

refactor: better types and comments
  packages/adapter-mongoose/src/index.ts
  packages/core/src/index.ts
  packages/provider-github/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore: update dependencies
  .ncurc.json
  examples/express/client/package.json
  examples/express/package.json
  examples/vercel/package.json
  package.json
  packages/adapter-mongoose/package.json
  yarn.lock
Due: none

refactor: remove unused types
  packages/adapter-mongoose/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

fix: adjust import path
  packages/core/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

fix: typo in id prop
  packages/adapter-mongoose/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore: update dependencies
  examples/express/client/package.json
  examples/express/package.json
  examples/vercel/package.json
  package.json
Due: none

chore: update dependencies lock
  yarn.lock
Due: none

v0.1.0
  CHANGELOG.md
  examples/express/CHANGELOG.md
  examples/express/client/CHANGELOG.md
  examples/express/client/package.json
  examples/express/package.json
  examples/vercel/CHANGELOG.md
  examples/vercel/package.json
  lerna.json
  packages/adapter-mongoose/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/provider-github/CHANGELOG.md
  packages/provider-github/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: yarn dlx prettier --write

feat(@pforte/react): add session-provider
  packages/react/src/index.ts
  packages/react/src/index.tsx
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore: remove logs
  packages/core/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore(@pforte/react): adjust source file
  packages/react/package.json
Due: none

chore: extend vercel example
  examples/vercel/package.json
  examples/vercel/src/App.tsx
  examples/vercel/src/pages/home.tsx
  examples/vercel/src/pages/secret.tsx
  yarn.lock
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore: don't publish examples
  examples/express/package.json
  examples/vercel/package.json
Due: none

v0.2.0
  CHANGELOG.md
  examples/express/CHANGELOG.md
  examples/express/client/CHANGELOG.md
  examples/express/client/package.json
  examples/express/package.json
  examples/vercel/CHANGELOG.md
  examples/vercel/package.json
  lerna.json
  packages/adapter-mongoose/CHANGELOG.md
  packages/adapter-mongoose/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/provider-github/CHANGELOG.md
  packages/provider-github/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: yarn dlx prettier --write

docs: add doc-blocks
  packages/react/src/index.tsx
Due: yarn dlx eslint --fix, yarn dlx prettier --write

chore(example-vercel): add build command
  examples/vercel/package.json
Due: none

chore: ignore build output
  .gitignore
Due: none

chore: update lock file
  yarn.lock
Due: none

chore: add alternative tsconfig files
  examples/vercel/package.json
  examples/vercel/tsconfig.development.json
  examples/vercel/tsconfig.production.json
Due: none

chore: correct copy tsconfig filename
  examples/vercel/package.json
Due: none

chore(example-vercel): remove build config
  examples/vercel/package.json
  examples/vercel/tsconfig.development.json
  examples/vercel/tsconfig.production.json
Due: none

chore(example-vercel): adjust build config
  examples/vercel/README.md
  examples/vercel/package.json
  examples/vercel/tsconfig.development.json
  examples/vercel/tsconfig.production.json
Due: yarn dlx prettier --write

fix(@pforte/core): remove httpOnly until implemented
  packages/core/src/index.ts
Due: yarn dlx eslint --fix, yarn dlx prettier --write

v0.2.1
  CHANGELOG.md
  examples/express/CHANGELOG.md
  examples/express/client/CHANGELOG.md
  examples/express/client/package.json
  examples/express/package.json
  examples/vercel/CHANGELOG.md
  examples/vercel/package.json
  lerna.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: yarn dlx prettier --write

Path conditions:
  yarn dlx eslint --fix: any of: *.{js,ts,tsx}
  yarn dlx prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.md)
